<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signup Route</h1>

   <Form method="post" action="/login">

    <input type="text" name="email">Enter the Email
    <input type="text" name="password">Enter the Password

    <button type="submit">Submit</button>
</Form>
</body>
</html>